.cabeçalho{
    border: 3px;
    border-style: dashed;
    border-color: chocolate;
    background-color: aquamarine;
    color: honeydew;
    margin: 50px;
}
#gatu-rodape{
    width: 30px;
}
#link-gatitu{
    font-size: 20px;
    color: fuchsia;
    text-decoration: none;
}
#link-gatitu:hover{
    font-size: 30px;
    color: rgb(255, 115, 0);
    text-decoration: double;
}