.cabeçalho{
    border: 3px;
    border-style: dashed;
    border-color: chocolate;
    background-color: aquamarine;
    color: honeydew;
    margin: 50px;

}
#gatu-rodape{
    width: 30px;
}
#link-gatin{
    font-size: 20px;
    color: fuchsia;
    text-decoration: none;
}